include pyramid_sqlassist/debugtoolbar/__init__.py
include pyramid_sqlassist/debugtoolbar/panels/__init__.py
include pyramid_sqlassist/debugtoolbar/panels/sqlassist.py
include pyramid_sqlassist/debugtoolbar/panels/templates/sqlassist.dbtmako
